.cartwidget-container {
  position: absolute;
  right: 20px;
  height: 70px;
}
.cartwidget-container .total-items {
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  position: absolute;
  top:1vh;
  left: 2.8vh;
  font-weight: 600;
}
