.orders-container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  width: 100%;
}

.orders-container .orders-organizer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border: solid;
  border-radius: 5px;
  width: 70%;
  max-height: 65vh;
  background-color:  #cc3a3a
}

.orders-container .orders-organizer .title {
  padding-top: 20px;
  text-align: center;
  font-weight: 200px;
  color:white;
  font-size: 20px;

}


.orders-container .orders-organizer .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color:  #cacac9;
  margin: 0px 5px 5px 0px;
  font-size: 1rem;
  color: white;
  font-weight: 200px;
  padding:10px;
}


.orders-container .orders-organizer .orders-columns {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  border: solid;
}

.orders-container .orders-organizer .orders-columns p {
  width: 25%;
  text-align: center;
  color: #ffffff;
  font-weight: 200px;
}

.orders-container .orders-organizer .orders {
  height: 40vh;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
}

.orders-container .orders-organizer .orders::-webkit-scrollbar {
  width: 7px;
}

.orders-container .orders-organizer .orders .order-row {
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #7A7A7A;
  padding: 4px;
  min-height: 48px;
}

.orders-container .orders-organizer .orders .order-row .order-info {
  width: 25%;
  text-align: center;
}
