.formulario-contacto {
    min-height: 60vh;
    width: 100%;
    margin-top: 80px;
    
}

.titulo {
    background-color: #cc3a3a;
    color:white;
    height: 60px;
    border: solid;
    padding: 40px;
}


