.not-exist-item {
  width: 100%;
  height: 80vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-exist-item h4 {
  font-size: 15px;
}

.not-exist-item h4 {
  line-height: 50px;
  text-align: center;
}

.not-exist-item .backToLanding-btn {
  color: WHITE;
  font-weight: 600;
  background-color: #cc3a3a;;
  height: 10vh;
  width: 200px;

}
